.home-layout {
    display: flex;
    height: calc(100vh - 60px);
}

.category-list-container {
    width: 20%;
    border-right: 2px solid #ccc;
    background-color: hsl(0, 0%, 93%);
    padding: 10px;
}

.car-description-container {
    width: 80%;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
}

.car-description-list {
    list-style-type: none;
    padding: 0;
}